@page

@using ContosoPizza.Models;
@using ContosoPizza.Services;

@model ContosoPizza.Pages.PizzaListModel
@{
    ViewData["Title"] = "Pizza List 🍕";
}

<h1>Pizza List 🍕</h1>
<p>Banane 🍌</p>

<!-- New Pizza form will go here -->
<!-- List of pizzas will go here -->
